{% extends 'base.html' %}

{% block meta %}
<title>New Task / Chores Form</title>
{% endblock meta %}

{% block content %}  

<div class = "background d-flex flex-column justify-content-between gap-2">

        <form id="addchores" method="POST" >  
            {% csrf_token %}
            <div class="form-content">  
                <h1>New Task / Chores Form</h1>
                <table>  
                    {{ form.as_table }}  
                    <tr>  
                        <td></td>
                        <td><input type="submit" name="submit" value="Add Task / Chores"/></td>  
                        <td><a href="{% url 'todolist:show_todolist' %}" class="fw-bold text-decoration-none">Back To Home</a></td>
                    </tr>  
                </table>  
            </div>
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $('#addchores').submit(function (event) {
      const formData = {
        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
        title: $('#id_name').val(),
        description: $('#id_description').val(),
      };

      $.ajax({
        type: 'POST',
        url: '/todolist/ajax-post/',
        data: formData,
        dataType: 'json',
        encode: true,
      }).done(function (data) {
        $('#message').text(data.message);
        window.location.replace("/todolist");
      });

      event.preventDefault();
    });
  });
</script>

{% endblock content %}