{% extends 'base.html' %}

 {% block content %}

<center>
  <h1>Assignment 5 PBP/PBD</h1>

  <h5>Username: </h5>
  <p>{{user.username}}</p>
</center>

<div class = "background d-flex flex-column justify-content-between gap-2">
    {% csrf_token %}
    <table id="todolist-table" class="table table-dark table-hover">
      <tr>
        <th>Release Date</th>
        <th>Chores</th>
        <th>Description</th>
        <th>Status</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      {% comment %} Add the data below this line {% endcomment %}
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $.get('/todolist/ajax', function (data) {
      console.log(data)
      data.map((singleData) => {
        console.log(singleData)
        var is_finished = '&#10060'
        if (singleData.fields.is_finished)
          is_finished = '&#10004'
        $('#todolist-table').append(
        `<tr id="${singleData.pk}">
          <th>${singleData.fields.creation_date}</th>
          <th>${singleData.fields.title}</th>
          <th>${singleData.fields.description}</th>
          <th>${is_finished}</th>
          
            <th>
              <input class="todo-update" type="submit" name="submit" value="Update"/>
            </th>

            
            <th>
              <input type="hidden" name="id" value="${singleData.pk}">
              <input class="todo-delete" type="submit" name="submit" value="Delete"/>
            </th>
          </form>
        </tr>`
        )
      }
      )
    }
    );

    $("#todolist-table").on("click", ".todo-update", function(event) {
      event.preventDefault();
      const formData = {
        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
        id: $(this).closest("tr").attr("id")
      };

      $.ajax({
        type: 'POST',
        url: '/todolist/markchores/',
        data: formData,
        encode: true,
      }).done(function (data) {
        window.location.reload();
      });
    });
  });

  $("#todolist-table").on("click", ".todo-delete", function(event) {
      event.preventDefault();
      const formData = {
        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
        id: $(this).closest("tr").attr("id")
      };

      $.ajax({
        type: 'POST',
        url: '/todolist/deletechores/',
        data: formData,
        encode: true,
      }).done(function (data) {
        window.location.reload();
      });
    });
</script>
 {% endblock content %}